<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
 <listeners>
        <listener class-name="mExpanse.Listener.ExtentTestNGIReporterListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="mExpanse">
        <classes>
            <!--     <class name="mExpanse.Pages.TestCases.LogInTC"></class>    -->
            <!--  <class name="mExpanse.Pages.TestCases.NewExpanseTC"></class>  -->
            <class name="mExpanse.Pages.TestCases.DeleteOrganizationTC"></class>

        </classes>
    </test>
</suite>
